body{
    width: 800px;
    margin: auto;

    @media (max-width: 640px) {
        width: 500px;
        margin: auto;
    }
}

.navigation h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;

    @media (max-width: 640px) {
        font-size: 10px;
    }
}

.navigation i{
    padding-left: 7px;
    padding-right: 7px;
}

.heading{
    text-align: center;
}

.heading h1{
    margin-bottom: 0px;
    font-family: 'Playfair Display', serif;
    font-size: 50px;

    @media (max-width: 640px) {
        font-size: 35px;
    }
}

.heading h3{
    margin-top: 15px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;

    @media (max-width: 640px) {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 16px;
    }
}

.heading p{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    @media (max-width: 640px) {
        font-size: 13px;
    }
}

.heading hr{
    border-top: solid black 1px;
    margin: 40px 0px 40px;

    @media (max-width: 640px) {
        margin: 30px 0px 30px;
    }
}

.heading h4{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    @media (max-width: 640px) {
        font-size: 13px;
    }
}

.heading a{
    color:goldenrod;
}

.heading img{
    width: 800px;
    margin-top: 20px;
    margin-bottom: 60px;

    @media (max-width: 640px) {
        width: 500px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
}

.preliminary-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    border: solid black 1px;
    margin-bottom: 60px;
    padding: 25px 50px 25px 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    @media (max-width: 640px) {
        margin-bottom: 40px;
        padding: 15px 30px 15px 30px;
        font-size: 13px;
    }
}

.preliminary-info b{
    font-weight: 700;
}

.ingredients h2{
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;

    @media (max-width: 640px) {
        margin-bottom: 20px;
        font-size: 24px;
    }
}

.ingredients ul{
    padding-left: 0;
    list-style-position: inside;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 40px;

    @media (max-width: 640px) {
        font-size: 13px;
        line-height: 30px;
    }
}

.ingredients li::marker{
    color: goldenrod;
}

hr{
    border-top: solid black 1px;
    margin: 60px 0px 60px;

    @media (max-width: 640px) {
        margin: 40px 0px 40px;
    }
}

.instructions h2{
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;

    @media (max-width: 640px) {
        margin-bottom: 20px;
        font-size: 24px;
    }
}

.instructions ol{
    padding-left: 0;
    list-style: none;
}

.instructions li{
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 40px 720px;
    column-gap: 40px;

    @media (max-width: 640px) {
        margin-bottom: 30px;
        grid-template-columns: 30px 450px;
        column-gap: 20px;
    }
}

.instructions h3{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: goldenrod;

    @media (max-width: 640px) {
        font-size: 24px;
    }
}

.instructions p{
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    @media (max-width: 640px) {
        margin-bottom: 15px;
        font-size: 13px;
    }
}

.instructions img{
    width: 720px;

    @media (max-width: 640px) {
        width: 450px
    }
}

.tips-and-variations h2{
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;

    @media (max-width: 640px) {
        margin-bottom: 20px;
        font-size: 24px;
    }
}

.tips-and-variations ul{
    padding-left: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    @media (max-width: 640px) {
        font-size: 13px;
    }
}

.tips-and-variations li{
    margin-bottom: 20px;
    padding-left: 7px;

    @media (max-width: 640px) {
        margin-bottom: 15px;
    }
}

.tips-and-variations li::marker{
    color: goldenrod;
}

.footer{
    text-align: center;
}

.footer h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;

    @media (max-width: 640px) {
        font-size: 10px;
    }
}

.footer a{
    color:goldenrod;
}